@charset "UTF-8";

*{
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.section{
  padding: 140px 0;
}

.content_inner{
  margin: 0 auto;
  max-width: 77%;
}

.bg_navy {
  background-color: #043873;
  color: #fff;
  position: relative;
}

.heading2{
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
  position: relative;
}

.heading2[data-position=center]{
  text-align: center;
}

.u-mb40 {
  margin-bottom: 40px;
}

.u-textCenter {
  text-align: center;
}

.btn {
  background-color: #4f9cf9;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  padding: 20px 40px 20px 20px;
  position: relative;
  text-align: center;
}

.btn:after {
  content: "→";
  position: absolute;
  right: 10px;
}